header{
  display: flex;
  background-color: indianred;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 50px;
}
.digi{
  margin-right: 30px;
  font-size: large;
}
.bio{
  font-size: large;
}
a{
  text-decoration: none;
  color: cornsilk;
}